In [1]:
cd F:\Bocconi\Simulation\Final\Model\SMFinal_Project\data

F:\Bocconi\Simulation\Final\Model\SMFinal_Project\data

In [1]:
import pandas as pd
import numpy as np

In [3]:
BrainDrain_living_df = pd.read_csv('../data/all_emigrants_high.csv')

In [6]:
BrainDrain_df = BrainDrain_living_df[['country_from','country_to']]

In [7]:
BrainDrain_living_df

,Unnamed: 0,country_from,1980,1985,1990,1995,2000,2005,2010,country_to,total
0,0,Afghanistan,0.0,0.0,1124.0,2239.0,3854.0,4553.0,5333.0,Australia,17103.0
1,1,Albania,198.0,174.0,189.0,237.0,466.0,549.0,641.0,Australia,2454.0
2,2,Algeria,0.0,0.0,327.0,400.0,551.0,645.0,749.0,Australia,2672.0
3,6,Argentina,2079.0,2794.0,3958.0,4674.0,5208.0,6228.0,7361.0,Australia,32302.0
4,7,Armenia,114.0,108.0,329.0,364.0,420.0,503.0,596.0,Australia,2434.0
...,...,...,...,...,...,...,...,...,...,...,...
1260,3718,Venezuela,8096.0,14624.0,19811.0,29466.0,46043.0,78620.0,95187.0,United States,291847.0
1261,3719,Vietnam,32560.0,82847.0,137341.0,179714.0,260005.0,385364.0,445534.0,United States,1523365.0
1262,3720,Yemen,416.0,741.0,965.0,1612.0,2750.0,4474.0,5519.0,United States,16477.0
1263,3721,Zambia,384.0,860.0,1332.0,739.0,930.0,1352.0,1544.0,United States,7141.0
1264,3722,Zimbabwe,1264.0,2123.0,2684.0,3586.0,5243.0,9246.0,10579.0,United States,34725.0

In [8]:
BrainDrain_df['1985'] = BrainDrain_living_df['1985'] - BrainDrain_living_df['1980']
BrainDrain_df['1990'] = BrainDrain_living_df['1990'] - BrainDrain_living_df['1985']
BrainDrain_df['1995'] = BrainDrain_living_df['1995'] - BrainDrain_living_df['1990']
BrainDrain_df['2000'] = BrainDrain_living_df['2000'] - BrainDrain_living_df['1995']
BrainDrain_df['2005'] = BrainDrain_living_df['2005'] - BrainDrain_living_df['2000']
BrainDrain_df['2010'] = BrainDrain_living_df['2010'] - BrainDrain_living_df['2005']

<ipython-input-8-d047e060f327>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BrainDrain_df['1985'] = BrainDrain_living_df['1985'] - BrainDrain_living_df['1980']
<ipython-input-8-d047e060f327>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BrainDrain_df['1990'] = BrainDrain_living_df['1990'] - BrainDrain_living_df['1985']
<ipython-input-8-d047e060f327>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BrainDrain_df['1995'] = BrainDrain_living_df['1995'] - BrainDrain_living_df['1990']
<ipython-input-8-d047e060f327>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BrainDrain_df['2000'] = BrainDrain_living_df['2000'] - BrainDrain_living_df['1995']
<ipython-input-8-d047e060f327>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BrainDrain_df['2005'] = BrainDrain_living_df['2005'] - BrainDrain_living_df['2000']
<ipython-input-8-d047e060f327>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BrainDrain_df['2010'] = BrainDrain_living_df['2010'] - BrainDrain_living_df['2005']

In [9]:
BrainDrain_df[BrainDrain_df['country_to']=='Luxembourg']

       country_from  country_to   1985   1990    1995    2000   2005   2010
842         Belgium  Luxembourg  116.0   99.0 -1501.0  3986.0  564.0  658.0
843         Denmark  Luxembourg  124.0  163.0  -344.0   476.0   65.0   74.0
844          France  Luxembourg -118.0 -208.0   160.0  2321.0  493.0  573.0
845         Germany  Luxembourg -108.0 -196.0   150.0   781.0  282.0  329.0
846           Italy  Luxembourg  195.0  251.0  1478.0 -1318.0  111.0  130.0
847     Netherlands  Luxembourg   14.0    6.0  -228.0   472.0   91.0  106.0
848        Portugal  Luxembourg  -77.0 -115.0  5815.0 -5506.0   72.0   84.0
849           Spain  Luxembourg  150.0  197.0  -132.0   325.0   68.0   78.0
850  United Kingdom  Luxembourg  196.0  250.0  -735.0  1034.0  129.0  151.0
851   United States  Luxembourg  113.0  147.0  -349.0   366.0   46.0   53.0

In [10]:
BrainDrain_df['1990'][1]

15.0

In [11]:
for i in ['1985','1990','1995','2000','2005','2010']:
    for j in range(len(BrainDrain_df)):
        if BrainDrain_df[i][j]<0:
            BrainDrain_df[i][j]=0

<ipython-input-11-98ff5d9cfd3b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BrainDrain_df[i][j]=0
/Users/aliyadavletshina/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3343: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
BrainDrain_df

,country_from,country_to,1985,1990,1995,2000,2005,2010
0,Afghanistan,Australia,0.0,1124.0,1115.0,1615.0,699.0,780.0
1,Albania,Australia,0.0,15.0,48.0,229.0,83.0,92.0
2,Algeria,Australia,0.0,327.0,73.0,151.0,94.0,104.0
3,Argentina,Australia,715.0,1164.0,716.0,534.0,1020.0,1133.0
4,Armenia,Australia,0.0,221.0,35.0,56.0,83.0,93.0
...,...,...,...,...,...,...,...,...
1260,Venezuela,United States,6528.0,5187.0,9655.0,16577.0,32577.0,16567.0
1261,Vietnam,United States,50287.0,54494.0,42373.0,80291.0,125359.0,60170.0
1262,Yemen,United States,325.0,224.0,647.0,1138.0,1724.0,1045.0
1263,Zambia,United States,476.0,472.0,0.0,191.0,422.0,192.0
1264,Zimbabwe,United States,859.0,561.0,902.0,1657.0,4003.0,1333.0

In [13]:
BrainDrain_df[BrainDrain_df['country_to']=='Greece']

,country_from,country_to,1985,1990,1995,2000,2005,2010
775,Albania,Greece,254.0,0.0,10350.0,10364.0,21461.0,8645.0
776,Armenia,Greece,80.0,0.0,327.0,1495.0,1407.0,699.0
777,Australia,Greece,174.0,0.0,451.0,3457.0,4345.0,1824.0
778,Austria,Greece,124.0,0.0,0.0,643.0,754.0,322.0
779,Belgium,Greece,229.0,0.0,0.0,665.0,937.0,385.0
780,Brazil,Greece,13.0,0.0,53.0,312.0,408.0,173.0
781,Bulgaria,Greece,145.0,0.0,1125.0,2235.0,3813.0,1632.0
782,Canada,Greece,173.0,0.0,57.0,3008.0,3444.0,1441.0
783,"Congo, Dem. Rep. of the",Greece,0.0,0.0,26.0,394.0,438.0,179.0
784,Cyprus,Greece,2866.0,0.0,0.0,5818.0,6755.0,2761.0
785,Czech Republic,Greece,114.0,0.0,86.0,1772.0,209.0,435.0
786,Egypt,Greece,1647.0,0.0,0.0,6929.0,8538.0,3403.0
787,Ethiopia,Greece,59.0,4.0,79.0,338.0,495.0,202.0
788,France,Greece,452.0,0.0,0.0,1962.0,2232.0,946.0
789,Georgia,Greece,865.0,0.0,3575.0,10091.0,8239.0,4788.0
790,Germany,Greece,2891.0,0.0,0.0,16065.0,19311.0,8076.0
791,Iraq,Greece,33.0,0.0,184.0,181.0,412.0,169.0
792,Italy,Greece,383.0,0.0,0.0,1702.0,1983.0,836.0
793,Jordan,Greece,157.0,0.0,0.0,356.0,348.0,132.0
794,Kazakhstan,Greece,266.0,0.0,1089.0,2193.0,1647.0,1088.0
795,Lebanon,Greece,346.0,0.0,0.0,499.0,622.0,245.0
796,Moldova,Greece,31.0,0.0,133.0,1177.0,1132.0,559.0
797,Netherlands,Greece,82.0,0.0,0.0,711.0,811.0,348.0
798,Nigeria,Greece,25.0,0.0,6.0,317.0,347.0,135.0
799,Pakistan,Greece,7.0,0.0,516.0,0.0,286.0,107.0
800,Philippines,Greece,92.0,0.0,158.0,758.0,1118.0,489.0
801,Poland,Greece,189.0,0.0,296.0,1414.0,2066.0,879.0
802,Romania,Greece,122.0,0.0,286.0,2519.0,3142.0,1327.0
803,South Africa,Greece,119.0,0.0,0.0,1401.0,1544.0,645.0
804,Spain,Greece,33.0,0.0,11.0,300.0,373.0,162.0
805,Sudan,Greece,89.0,0.0,3.0,497.0,613.0,248.0
806,Sweden,Greece,103.0,0.0,0.0,925.0,1042.0,439.0
807,Switzerland,Greece,90.0,0.0,0.0,593.0,677.0,287.0
808,Syria,Greece,140.0,0.0,124.0,492.0,751.0,287.0
809,Turkey,Greece,3969.0,0.0,11279.0,0.0,6716.0,2695.0
810,Ukraine,Greece,113.0,0.0,491.0,3485.0,3125.0,1633.0
811,United Kingdom,Greece,734.0,0.0,0.0,3987.0,4545.0,1916.0
812,United States,Greece,1403.0,0.0,26.0,4033.0,5865.0,2472.0
813,Uzbekistan,Greece,25.0,0.0,104.0,1343.0,1324.0,593.0

In [14]:
BrainDrain__sum_df = BrainDrain_df.groupby('country_to').sum()

In [15]:
BrainDrain__sum_df['total'] = BrainDrain__sum_df.sum(axis=1)

In [16]:
BrainDrain__sum_df ['probability'] = BrainDrain__sum_df['total']/sum(BrainDrain__sum_df['total'])

In [17]:
BrainDrain__sum_df

,1985,1990,1995,2000,2005,2010,total,probability
country_to,,,,,,,,
Australia,195239.0,314210.0,235695.0,268554.0,300085.0,333449.0,1647232.0,0.071697
Austria,3677.0,26282.0,24764.0,23404.0,58325.0,2425.0,138877.0,0.006045
Canada,119440.0,384988.0,415132.0,415620.0,816047.0,1246427.0,3397654.0,0.147885
Chile,4412.0,39782.0,45538.0,71442.0,67825.0,123465.0,352464.0,0.015341
Denmark,2895.0,7033.0,11852.0,19620.0,11375.0,9482.0,62257.0,0.002710
Finland,237.0,718.0,5618.0,5772.0,6336.0,9573.0,28254.0,0.001230
France,60836.0,105866.0,110572.0,162740.0,120725.0,333632.0,894371.0,0.038928
Germany,23414.0,60340.0,372388.0,78881.0,174576.0,244902.0,954501.0,0.041545
Greece,18637.0,4.0,30835.0,94431.0,123275.0,53602.0,320784.0,0.013962
Ireland,9155.0,6640.0,19181.0,41190.0,44220.0,96241.0,216627.0,0.009429
Luxembourg,908.0,1113.0,7603.0,9761.0,1921.0,2236.0,23542.0,0.001025
Netherlands,32091.0,60204.0,44935.0,82328.0,95781.0,53853.0,369192.0,0.016069
New Zealand,56410.0,35015.0,10924.0,25864.0,147099.0,57406.0,332718.0,0.014482
Norway,6016.0,11037.0,12314.0,18146.0,26856.0,54250.0,128619.0,0.005598
Portugal,19311.0,1732.0,23909.0,40830.0,36883.0,28149.0,150814.0,0.006564
Sweden,105850.0,33515.0,44970.0,41553.0,60720.0,106105.0,392713.0,0.017093
Switzerland,21361.0,38843.0,34979.0,49534.0,5598.0,19224.0,169539.0,0.007379
United Kingdom,97741.0,107392.0,351018.0,556273.0,455582.0,774424.0,2342430.0,0.101956
United States,1756014.0,1135403.0,815332.0,1761816.0,3797231.0,1786532.0,11052328.0,0.481061

In [31]:
# as an anternative approach - getting probability for each year and then taking the average  

BrainDrain__probs_df = pd.DataFrame({'country_to': BrainDrain__sum_df.index, '1985': np.zeros(len(BrainDrain__sum_df))})
BrainDrain__probs_df['1985'] = (BrainDrain__sum_df['1985'] / sum(BrainDrain__sum_df['1985'])).values
BrainDrain__probs_df['1985'] = (BrainDrain__sum_df['1985'] / sum(BrainDrain__sum_df['1985'])).values
BrainDrain__probs_df['1990'] = (BrainDrain__sum_df['1990'] / sum(BrainDrain__sum_df['1990'])).values
BrainDrain__probs_df['1995'] = (BrainDrain__sum_df['1995'] / sum(BrainDrain__sum_df['1995'])).values
BrainDrain__probs_df['2000'] = (BrainDrain__sum_df['2000'] / sum(BrainDrain__sum_df['2000'])).values
BrainDrain__probs_df['2005'] = (BrainDrain__sum_df['2005'] / sum(BrainDrain__sum_df['2005'])).values
BrainDrain__probs_df['2010'] = (BrainDrain__sum_df['2010'] / sum(BrainDrain__sum_df['2010'])).values
BrainDrain__probs_df['total'] = BrainDrain__probs_df.mean(axis=1)
BrainDrain__probs_df

,country_to,1985,1990,1995,2000,2005,2010,total
0,Australia,0.077059,0.132572,0.090044,0.071277,0.047254,0.062498,0.080117
1,Austria,0.001451,0.011089,0.009461,0.006212,0.009184,0.000455,0.006309
2,Canada,0.047142,0.162434,0.158595,0.110310,0.128502,0.233616,0.140100
3,Chile,0.001741,0.016785,0.017397,0.018961,0.010680,0.023141,0.014784
4,Denmark,0.001143,0.002967,0.004528,0.005207,0.001791,0.001777,0.002902
5,Finland,0.000094,0.000303,0.002146,0.001532,0.000998,0.001794,0.001144
6,France,0.024011,0.044667,0.042242,0.043193,0.019010,0.062532,0.039276
7,Germany,0.009241,0.025459,0.142265,0.020936,0.027490,0.045902,0.045215
8,Greece,0.007356,0.000002,0.011780,0.025063,0.019412,0.010047,0.012276
9,Ireland,0.003613,0.002802,0.007328,0.010932,0.006963,0.018038,0.008279
10,Luxembourg,0.000358,0.000470,0.002905,0.002591,0.000302,0.000419,0.001174
11,Netherlands,0.012666,0.025401,0.017167,0.021851,0.015083,0.010094,0.017043
12,New Zealand,0.022264,0.014774,0.004173,0.006865,0.023164,0.010760,0.013666
13,Norway,0.002374,0.004657,0.004704,0.004816,0.004229,0.010168,0.005158
14,Portugal,0.007622,0.000731,0.009134,0.010837,0.005808,0.005276,0.006568
15,Sweden,0.041778,0.014141,0.017180,0.011029,0.009562,0.019887,0.018929
16,Switzerland,0.008431,0.016389,0.013363,0.013147,0.000882,0.003603,0.009302
17,United Kingdom,0.038577,0.045311,0.134101,0.147640,0.071740,0.145149,0.097086
18,United States,0.693078,0.479049,0.311486,0.467603,0.597946,0.334846,0.480668

In [74]:
BrainDrain__sum_df.to_csv('Country_probabilities.csv')

# Finding Betas

In [36]:
# Regression_data_df = pd.read_excel('../data/Country_probabilities.xlsx',usecols=['country_to','probability','GDP per capita',
#                                                                         'Gov Expend Education','Life Expectency','Education'])

Regression_data_df = pd.read_csv('../data/Country_probabilities.csv')
Regression_data_df

,country_to,1985,1990,1995,2000,2005,2010,total,probability
0,Australia,195239.0,314210.0,235695.0,268554.0,300085.0,333449.0,1647232.0,0.071697
1,Austria,3677.0,26282.0,24764.0,23404.0,58325.0,2425.0,138877.0,0.006045
2,Canada,119440.0,384988.0,415132.0,415620.0,816047.0,1246427.0,3397654.0,0.147885
3,Chile,4412.0,39782.0,45538.0,71442.0,67825.0,123465.0,352464.0,0.015341
4,Denmark,2895.0,7033.0,11852.0,19620.0,11375.0,9482.0,62257.0,0.002710
5,Finland,237.0,718.0,5618.0,5772.0,6336.0,9573.0,28254.0,0.001230
6,France,60836.0,105866.0,110572.0,162740.0,120725.0,333632.0,894371.0,0.038928
7,Germany,23414.0,60340.0,372388.0,78881.0,174576.0,244902.0,954501.0,0.041545
8,Greece,18637.0,4.0,30835.0,94431.0,123275.0,53602.0,320784.0,0.013962
9,Ireland,9155.0,6640.0,19181.0,41190.0,44220.0,96241.0,216627.0,0.009429
10,Luxembourg,908.0,1113.0,7603.0,9761.0,1921.0,2236.0,23542.0,0.001025
11,Netherlands,32091.0,60204.0,44935.0,82328.0,95781.0,53853.0,369192.0,0.016069
12,New Zealand,56410.0,35015.0,10924.0,25864.0,147099.0,57406.0,332718.0,0.014482
13,Norway,6016.0,11037.0,12314.0,18146.0,26856.0,54250.0,128619.0,0.005598
14,Portugal,19311.0,1732.0,23909.0,40830.0,36883.0,28149.0,150814.0,0.006564
15,Sweden,105850.0,33515.0,44970.0,41553.0,60720.0,106105.0,392713.0,0.017093
16,Switzerland,21361.0,38843.0,34979.0,49534.0,5598.0,19224.0,169539.0,0.007379
17,United Kingdom,97741.0,107392.0,351018.0,556273.0,455582.0,774424.0,2342430.0,0.101956
18,United States,1756014.0,1135403.0,815332.0,1761816.0,3797231.0,1786532.0,11052328.0,0.481061

In [80]:
Regression_data_df

,country_to,probability,GDP per capita,Gov Expend Education,Life Expectency,Education
0,Australia,0.071697,22404.555431,13.705685,78.126892,0.890143
1,Austria,0.006045,25772.203325,10.856180,76.711880,0.737476
2,Canada,0.147885,24102.835096,13.260528,78.207474,0.824381
3,Chile,0.015341,4814.913566,16.103320,74.686194,0.677238
4,Denmark,0.002710,31924.575377,14.100664,75.974524,0.813143
5,Finland,0.001230,26160.778737,11.964859,76.516027,0.801381
6,France,0.038928,23937.132265,10.285706,77.800079,0.735286
7,Germany,0.041545,24903.155388,9.606595,76.498740,0.822810
8,Greece,0.013962,13627.343694,7.185135,77.323459,0.692190
9,Ireland,0.009429,24767.871497,12.128671,76.083478,0.789048
10,Luxembourg,0.001025,49007.315866,8.995115,76.376480,0.700333
11,Netherlands,0.016069,27301.941245,10.967681,77.722305,0.820476
12,New Zealand,0.014482,16623.629360,13.997931,76.905193,0.863905
13,Norway,0.005598,39512.869180,15.232263,77.928851,0.862810
14,Portugal,0.006564,11195.411909,10.847349,75.267978,0.650190
15,Sweden,0.017093,30427.125298,11.566375,78.658891,0.830762
16,Switzerland,0.007379,40189.642089,15.770315,78.781361,0.784905
17,United Kingdom,0.101956,24587.277741,11.967528,76.873997,0.811238
18,United States,0.481061,30178.323694,NaN,76.009048,0.862810

In [84]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = Regression_data_df.drop(['country_to','probability'],axis=1)
X = scaler.fit_transform(X)
X

array([[-0.34413709,  0.66765567,  1.05094964,  1.50523217],
       [-0.00924839, -0.54840487, -0.23581997, -0.7428361 ],
       [-0.17525522,  0.47767927,  1.12422871,  0.53686589],
       [-2.09330224,  1.69087491, -2.0779193 , -1.62986241],
       [ 0.60256139,  0.83621729, -0.90634994,  0.37138114],
       [ 0.02939268, -0.07526259, -0.41392346,  0.19818312],
       [-0.19173319, -0.79186134,  0.75375514, -0.7750916 ],
       [-0.09566904, -1.08167998, -0.42964319,  0.51372608],
       [-1.21696856, -2.11506681,  0.32033183, -1.40968355],
       [-0.10912207, -0.00535397, -0.8072708 ,  0.01657062],
       [ 2.30131879, -1.3426362 , -0.54082318, -1.28977722],
       [ 0.1428732 , -0.50082045,  0.68303032,  0.47936696],
       [-0.91900919,  0.79237496, -0.06002747,  1.11886735],
       [ 1.35716339,  1.31914078,  0.87085713,  1.1027396 ],
       [-1.45880693, -0.55217357, -1.54886187, -2.02814774],
       [ 0.45365059, -0.24532043,  1.53473317,  0.63082757],
       [ 1.42446366,  1.54876107,  1.64610419, -0.04443435],
       [-0.12708083, -0.07412375, -0.0883961 ,  0.34333288],
       [ 0.42890904,         nan, -0.87495485,  1.1027396 ]])

# finding betas with final dataset

In [6]:
migration_stats = pd.read_csv('../data/all_emigrants_high_interpolated.csv').drop('Unnamed: 0', axis=1)
migration_stats.head()

,country_from,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2003,2004,2005,2006,2007,2008,2009,2010,country_to,total
0,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,224.8,449.6,674.4,...,4273.4,4413.2,4553.0,4709.0,4865.0,5021.0,5177.0,5333.0,Australia,17103.0
1,Albania,198.0,193.2,188.4,183.6,178.8,174.0,177.0,180.0,183.0,...,515.8,532.4,549.0,567.4,585.8,604.2,622.6,641.0,Australia,2454.0
2,Algeria,0.0,0.0,0.0,0.0,0.0,0.0,65.4,130.8,196.2,...,607.4,626.2,645.0,665.8,686.6,707.4,728.2,749.0,Australia,2672.0
3,Argentina,2079.0,2222.0,2365.0,2508.0,2651.0,2794.0,3026.8,3259.6,3492.4,...,5820.0,6024.0,6228.0,6454.6,6681.2,6907.8,7134.4,7361.0,Australia,32302.0
4,Armenia,114.0,112.8,111.6,110.4,109.2,108.0,152.2,196.4,240.6,...,469.8,486.4,503.0,521.6,540.2,558.8,577.4,596.0,Australia,2434.0

In [40]:
years_data = migration_stats.iloc[:, 1:32].columns
migration_stats_by_destination = migration_stats.groupby('country_to')[years_data].sum()
migration_stats_by_destination

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
country_to,,,,,,,,,,,,,,,,,,,,,
Australia,622998.0,661658.4,700318.8,738979.2,777639.6,816300.0,877398.6,938497.2,999595.8,1060694.4,...,1623941.0,1683958.0,1743975.0,1803992.0,1864009.0,1930698.8,1997388.6,2064078.4,2130768.2,2197458.0
Austria,18567.0,19197.0,19827.0,20457.0,21087.0,21717.0,26973.4,32229.8,37486.2,42742.6,...,106481.0,118146.0,129811.0,141476.0,153141.0,153613.4,154085.8,154558.2,155030.6,155503.0
Canada,1159153.0,1176426.4,1193699.8,1210973.2,1228246.6,1245520.0,1322490.6,1399461.2,1476431.8,1553402.4,...,2610520.6,2773486.2,2936451.8,3099417.4,3262383.0,3511668.4,3760953.8,4010239.2,4259524.6,4508810.0
Chile,12605.0,13322.2,14039.4,14756.6,15473.8,16191.0,23994.8,31798.6,39602.4,47406.2,...,185755.0,199320.0,212885.0,226450.0,240015.0,264708.0,289401.0,314094.0,338787.0,363480.0
Denmark,13624.0,14203.0,14782.0,15361.0,15940.0,16519.0,17925.6,19332.2,20738.8,22145.4,...,57286.6,59549.2,61811.8,64074.4,66337.0,68163.6,69990.2,71816.8,73643.4,75470.0
Finland,2310.0,2339.0,2368.0,2397.0,2426.0,2455.0,2591.8,2728.6,2865.4,3002.2,...,15796.2,17063.4,18330.6,19597.8,20865.0,22779.6,24694.2,26608.8,28523.4,30438.0
France,165196.0,177153.6,189111.2,201068.8,213026.4,224984.0,246040.4,267096.8,288153.2,309209.6,...,624607.0,648752.0,672897.0,697042.0,721187.0,786677.6,852168.2,917658.8,983149.4,1048640.0
Germany,409250.0,396510.8,383771.6,371032.4,358293.2,345554.0,346655.6,347757.2,348858.8,349960.4,...,803993.6,828417.2,852840.8,877264.4,901688.0,942150.2,982612.4,1023074.6,1063536.8,1103999.0
Greece,18747.0,22474.4,26201.8,29929.2,33656.6,37384.0,33798.4,30212.8,26627.2,23041.6,...,155298.0,179953.0,204608.0,229263.0,253918.0,264638.4,275358.8,286079.2,296799.6,307520.0
Ireland,19469.0,21134.2,22799.4,24464.6,26129.8,27795.0,29107.2,30419.4,31731.6,33043.8,...,103527.0,112371.0,121215.0,130059.0,138903.0,158151.2,177399.4,196647.6,215895.8,235144.0
Luxembourg,8957.0,9078.0,9199.0,9320.0,9441.0,9562.0,9680.8,9799.6,9918.4,10037.2,...,17791.2,18175.4,18559.6,18943.8,19328.0,19775.2,20222.4,20669.6,21116.8,21564.0
Netherlands,33542.0,39960.2,46378.4,52796.6,59214.8,65633.0,77673.8,89714.6,101755.4,113796.2,...,245286.4,260982.8,276679.2,292375.6,308072.0,318713.8,329355.6,339997.4,350639.2,361281.0
New Zealand,81494.0,92776.0,104058.0,115340.0,126622.0,137904.0,144896.6,151889.2,158881.8,165874.4,...,191521.2,214877.4,238233.6,261589.8,284946.0,281936.2,278926.4,275916.6,272906.8,269897.0
Norway,13719.0,14922.2,16125.4,17328.6,18531.8,19735.0,21853.4,23971.8,26090.2,28208.6,...,60476.2,65208.4,69940.6,74672.8,79405.0,90255.0,101105.0,111955.0,122805.0,133655.0
Portugal,18098.0,21960.2,25822.4,29684.6,33546.8,37409.0,37471.2,37533.4,37595.6,37657.8,...,109681.6,117058.2,124434.8,131811.4,139188.0,144817.8,150447.6,156077.4,161707.2,167337.0
Sweden,338425.0,359595.0,380765.0,401935.0,423105.0,444275.0,376110.6,307946.2,239781.8,171617.4,...,202120.0,214264.0,226408.0,238552.0,250696.0,271917.0,293138.0,314359.0,335580.0,356801.0
Switzerland,120676.0,123873.6,127071.2,130268.8,133466.4,136664.0,143309.4,149954.8,156600.2,163245.6,...,253623.6,254743.2,255862.8,256982.4,258102.0,261946.8,265791.6,269636.4,273481.2,277326.0
United Kingdom,507673.0,510434.4,513195.8,515957.2,518718.6,521480.0,527365.4,533250.8,539136.2,545021.6,...,1320669.4,1411785.8,1502902.2,1594018.6,1685135.0,1840019.8,1994904.6,2149789.4,2304674.2,2459559.0
United States,2776484.0,3127658.0,3478832.0,3830006.0,4181180.0,4532354.0,4752828.4,4973302.8,5193777.2,5414251.6,...,8886622.2,9624678.4,10362734.6,11100790.8,11838847.0,12190943.2,12543039.4,12895135.6,13247231.8,13599328.0

In [41]:
# migration_stats_by_destination['total_to_country'] = migration_stats_by_destination.sum(axis=1)
total_by_year = migration_stats_by_destination.sum(axis=0)
country_to = list(migration_stats_by_destination.reset_index()['country_to'])
country_to.append('total')
migration_stats_by_destination = migration_stats_by_destination.append(total_by_year, ignore_index=True)
migration_stats_by_destination['country_to'] = pd.Series(country_to)
migration_stats_by_destination['country_to']

0          Australia
1            Austria
2             Canada
3              Chile
4            Denmark
5            Finland
6             France
7            Germany
8             Greece
9            Ireland
10        Luxembourg
11       Netherlands
12       New Zealand
13            Norway
14          Portugal
15            Sweden
16       Switzerland
17    United Kingdom
18     United States
19             total
Name: country_to, dtype: object

In [50]:
migration_stats_by_destination['1980'][len(migration_stats_by_destination)-1]

6340987.0

In [51]:
for col in migration_stats_by_destination.iloc[:, :-1].columns:
     migration_stats_by_destination[col][:-1] /= migration_stats_by_destination[col][len(migration_stats_by_destination)-1]

<ipython-input-51-228b2a55b022>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  migration_stats_by_destination[col][:-1] /= migration_stats_by_destination[col][len(migration_stats_by_destination)-1]
/Users/aliyadavletshina/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [83]:
migration_stats_by_destination_melted = migration_stats_by_destination.melt('country_to', var_name = 'year', value_name = 'prob')
migration_stats_by_destination_melted = migration_stats_by_destination_melted.set_index(['country_to', 'year'])

In [79]:
country_data = pd.read_csv('../df_for_final_sim.csv').drop('Unnamed: 0', axis=1)
country_data_to_2010 = country_data[country_data['year'] <= 30]
country_data_to_2010.year = country_data_to_2010.year.map({k:v for k,v in zip(country_data_to_2010.year.unique(), np.arange(1980,2011))})
# country_data_to_2010

country_data_to_2010_idx = country_data_to_2010.rename({'country':'country_to'}, axis=1).set_index(['country_to','year'])
country_data_to_2010_idx

/Users/aliyadavletshina/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

                           co2    expRD     expEd  expHealth   lifeExp
country_to     year
Argentina      1980  10.873755  0.41749  4.634114   2.607150  6.949600
Armenia        1980   0.582686  0.18692  0.954682   1.848430  7.093700
Australia      1980  22.074607  1.66650  5.469498   5.654080  7.433366
Austria        1980   5.230609  1.58077  6.825787   5.008970  7.246341
Azerbaijan     1980   5.624078  0.23533  0.866893   6.057970  6.416100
...                        ...      ...       ...        ...       ...
Togo           2010   0.263657  0.23477  1.554958   4.096350  5.746800
Tunisia        2010   2.766018  0.69026  3.280535   6.254810  7.504100
United Kingdom 2010  49.267612  1.66063  8.218777   5.703240  8.040244
Uruguay        2010   0.638791  0.34115  5.156711   4.060268  7.675000
Zambia         2010   0.269158  0.27819  0.841367   2.106749  5.565500

[2356 rows x 5 columns]

In [86]:
country_data_to_2010_idx.join(migration_stats_by_destination_melted)

                           co2    expRD     expEd  expHealth   lifeExp  prob
country_to     year
Argentina      1980  10.873755  0.41749  4.634114   2.607150  6.949600   NaN
Armenia        1980   0.582686  0.18692  0.954682   1.848430  7.093700   NaN
Australia      1980  22.074607  1.66650  5.469498   5.654080  7.433366   NaN
Austria        1980   5.230609  1.58077  6.825787   5.008970  7.246341   NaN
Azerbaijan     1980   5.624078  0.23533  0.866893   6.057970  6.416100   NaN
...                        ...      ...       ...        ...       ...   ...
Togo           2010   0.263657  0.23477  1.554958   4.096350  5.746800   NaN
Tunisia        2010   2.766018  0.69026  3.280535   6.254810  7.504100   NaN
United Kingdom 2010  49.267612  1.66063  8.218777   5.703240  8.040244   NaN
Uruguay        2010   0.638791  0.34115  5.156711   4.060268  7.675000   NaN
Zambia         2010   0.269158  0.27819  0.841367   2.106749  5.565500   NaN

[2356 rows x 6 columns]

In [93]:
len(migration_stats_by_destination.country_to.unique())

20

In [99]:
all_immigrants = pd.read_csv('../data/all_emigrants_high_interpolated.csv')

In [102]:
countries_from = all_immigrants.country_from.unique()

In [103]:
len(countries_from)

179

In [135]:
countries_with_data = pd.read_csv('../df_for_final_sim.csv').drop('Unnamed: 0', axis=1).country.unique()

In [136]:
countries_with_data

array(['Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bangladesh', 'Belgium', 'Benin', 'Brazil', 'Bulgaria', 'Burundi',
       'Cameroon', 'Canada', 'Chile', 'Colombia', 'Costa Rica',
       "Cote d'Ivoire", 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
       'Ethiopia', 'Finland', 'Gambia, The', 'Ghana', 'Guinea', 'Guyana',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'Iran, Islamic Rep.',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Kenya',
       'Kyrgyz Republic', 'Latvia', 'Lesotho', 'Lithuania',
       'Macao SAR, China', 'Madagascar', 'Malaysia', 'Mali', 'Malta',
       'Mauritius', 'Mexico', 'Nepal', 'Netherlands', 'New Zealand',
       'Niger', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Peru', 'Poland',
       'Portugal', 'Saudi Arabia', 'Senegal', 'Slovak Republic',
       'Slovenia', 'South Africa', 'Spain', 'Sri Lanka', 'St. Lucia',
       'Eswatini', 'Sweden', 'Switzerland', 'Thailand', 'Togo', 'Tunisia',
       'United Kingdom', 'Uruguay', 'Zambia'], dtype=object)

In [114]:
counties_to_consider = set(countries_with_data).intersection(set(countries_from))

In [137]:
len(counties_to_consider)

67

In [121]:
destinations_with_data = counties_to_consider.intersection(set(all_immigrants.country_to.unique()))

In [122]:
set(all_immigrants.country_to.unique()) - destinations_with_data # we do not have data for these countires

{'France', 'Germany', 'Greece', 'Luxembourg', 'United States'}

In [138]:
print('# of destination countries which have indicators data:', len(destinations_with_data), destinations_with_data)
print('# of all countries which have indicators data (including destinations) :', len(counties_to_consider), counties_to_consider)

# of destination countries which have indicators data: 14 {'Denmark', 'New Zealand', 'Netherlands', 'Chile', 'Switzerland', 'Ireland', 'United Kingdom', 'Norway', 'Sweden', 'Austria', 'Canada', 'Finland', 'Portugal', 'Australia'}
# of all countries which have indicators data (including destinations) : 67 {'Hungary', 'Latvia', 'Chile', 'Bangladesh', 'Switzerland', 'Burundi', 'Malaysia', 'Niger', 'Ethiopia', 'Colombia', 'Norway', 'Sweden', 'Canada', 'Peru', 'Israel', 'Nepal', 'South Africa', 'Zambia', 'Cameroon', 'Mexico', 'Poland', 'Gambia, The', 'Guinea', 'Cyprus', 'Brazil', 'Ireland', 'Mauritius', 'Mali', "Cote d'Ivoire", 'Thailand', 'Benin', 'Japan', 'Senegal', 'Lithuania', 'Australia', 'New Zealand', 'Netherlands', 'Sri Lanka', 'Belgium', 'Ghana', 'Kenya', 'Azerbaijan', 'Saudi Arabia', 'Czech Republic', 'Costa Rica', 'Austria', 'Estonia', 'Togo', 'Denmark', 'Panama', 'Slovenia', 'Malta', 'Uruguay', 'Jamaica', 'Argentina', 'Madagascar', 'Pakistan', 'United Kingdom', 'Armenia', 'Spain', 'Tunisia', 'Finland', 'Bulgaria', 'Portugal', 'Guyana', 'Iceland', 'Italy'}

In [148]:
countries_data = pd.read_csv('../df_for_final_sim.csv').drop('Unnamed: 0', axis=1)
countries_data = countries_data[countries_data.country.isin(counties_to_consider)]
countries_data.to_csv('../df_for_final_sim.csv')

In [ ]:
countries_data

In [162]:
population = pd.read_excel('../data/Population.xls').iloc[:217, 2:]

In [164]:
population.drop('Country Code', axis=1, inplace=True)

In [167]:
population= population[population['Country Name'].isin(counties_to_consider)]

In [187]:
population = population.reset_index(drop=True)

In [199]:
population.columns = ['country']+list(np.arange(1980, 2011))
for i, col in enumerate(population.columns[1:]):
    population[col] /= population.iloc[:, 1:].sum(axis=0).values[i]
population

,country,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,Argentina,0.023694,0.0236469,0.0236041,0.023565,0.0235283,0.0234918,0.0234561,0.0234213,0.0233865,...,0.022580,0.022511,0.022440,0.022370,0.022299,0.022224,0.022146,0.022063,0.021990,0.021873
1,Armenia,0.00263278,0.00262691,0.002618,0.00260807,0.0025996,0.00259354,0.00259192,0.00259261,0.00258808,...,0.001848,0.001812,0.001778,0.001744,0.001709,0.001673,0.001637,0.001601,0.001569,0.001543
2,Australia,0.0124787,0.0124558,0.0124421,0.0123768,0.0122986,0.0122511,0.0122391,0.0122151,0.0122085,...,0.011759,0.011740,0.011721,0.011697,0.011693,0.011708,0.011623,0.011697,0.011783,0.011815
3,Austria,0.00641212,0.00631567,0.00620884,0.00608968,0.00598268,0.00588144,0.00578383,0.00568895,0.00560151,...,0.004872,0.004828,0.004785,0.004749,0.004717,0.004677,0.004629,0.004581,0.004532,0.004485
4,Azerbaijan,0.00522414,0.00521471,0.005205,0.00519592,0.00518842,0.00518286,0.00517932,0.0051774,0.00517668,...,0.004913,0.004882,0.004851,0.004827,0.004811,0.004799,0.004789,0.004824,0.004860,0.004855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Togo,0.00231095,0.00234672,0.00239006,0.00243765,0.00248507,0.00252906,0.00256959,0.00260747,0.00264184,...,0.003067,0.003105,0.003141,0.003178,0.003217,0.003260,0.003304,0.003349,0.003395,0.003444
63,Tunisia,0.0054138,0.00546664,0.0055255,0.0055867,0.00564549,0.00569843,0.00574414,0.00578369,0.00581937,...,0.005933,0.005897,0.005859,0.005825,0.005795,0.005770,0.005751,0.005733,0.005717,0.005703
64,United Kingdom,0.0478306,0.0470075,0.0461627,0.0453654,0.0446417,0.0439653,0.0433084,0.0426616,0.0420397,...,0.035812,0.035468,0.035142,0.034862,0.034630,0.034418,0.034221,0.034023,0.033827,0.033659
65,Uruguay,0.00247619,0.00244877,0.0024214,0.00239422,0.00236749,0.00234132,0.00231562,0.00229041,0.00226614,...,0.002014,0.001987,0.001958,0.001930,0.001905,0.001881,0.001859,0.001839,0.001819,0.001801
66,Zambia,0.00497026,0.00505287,0.0051364,0.00521995,0.00530232,0.00538244,0.00546076,0.00553742,0.00561108,...,0.006477,0.006554,0.006632,0.006713,0.006798,0.006886,0.006977,0.007073,0.007178,0.007296

In [201]:
population_initial = population.iloc[:, :2]

In [215]:
(population_initial[1980]*1000).map(round).value_counts()

2      7
3      7
5      6
1      5
4      4
7      4
8      4
9      3
12     3
0      2
48     2
30     2
24     2
6      2
13     2
10     1
103    1
99     1
15     1
21     1
23     1
32     1
40     1
58     1
66     1
68     1
14     1
Name: 1980, dtype: int64