In [1]:
cd F:\Bocconi\Simulation\Final\Model\SMFinal_Project\data

F:\Bocconi\Simulation\Final\Model\SMFinal_Project\data

In [1]:
import pandas as pd
import numpy as np

In [3]:
BrainDrain_living_df = pd.read_csv('../data/all_emigrants_high.csv')

In [6]:
BrainDrain_df = BrainDrain_living_df[['country_from','country_to']]

In [7]:
BrainDrain_living_df

,Unnamed: 0,country_from,1980,1985,1990,1995,2000,2005,2010,country_to,total
0,0,Afghanistan,0.0,0.0,1124.0,2239.0,3854.0,4553.0,5333.0,Australia,17103.0
1,1,Albania,198.0,174.0,189.0,237.0,466.0,549.0,641.0,Australia,2454.0
2,2,Algeria,0.0,0.0,327.0,400.0,551.0,645.0,749.0,Australia,2672.0
3,6,Argentina,2079.0,2794.0,3958.0,4674.0,5208.0,6228.0,7361.0,Australia,32302.0
4,7,Armenia,114.0,108.0,329.0,364.0,420.0,503.0,596.0,Australia,2434.0
...,...,...,...,...,...,...,...,...,...,...,...
1260,3718,Venezuela,8096.0,14624.0,19811.0,29466.0,46043.0,78620.0,95187.0,United States,291847.0
1261,3719,Vietnam,32560.0,82847.0,137341.0,179714.0,260005.0,385364.0,445534.0,United States,1523365.0
1262,3720,Yemen,416.0,741.0,965.0,1612.0,2750.0,4474.0,5519.0,United States,16477.0
1263,3721,Zambia,384.0,860.0,1332.0,739.0,930.0,1352.0,1544.0,United States,7141.0
1264,3722,Zimbabwe,1264.0,2123.0,2684.0,3586.0,5243.0,9246.0,10579.0,United States,34725.0

In [8]:
BrainDrain_df['1985'] = BrainDrain_living_df['1985'] - BrainDrain_living_df['1980']
BrainDrain_df['1990'] = BrainDrain_living_df['1990'] - BrainDrain_living_df['1985']
BrainDrain_df['1995'] = BrainDrain_living_df['1995'] - BrainDrain_living_df['1990']
BrainDrain_df['2000'] = BrainDrain_living_df['2000'] - BrainDrain_living_df['1995']
BrainDrain_df['2005'] = BrainDrain_living_df['2005'] - BrainDrain_living_df['2000']
BrainDrain_df['2010'] = BrainDrain_living_df['2010'] - BrainDrain_living_df['2005']

<ipython-input-8-d047e060f327>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BrainDrain_df['1985'] = BrainDrain_living_df['1985'] - BrainDrain_living_df['1980']
<ipython-input-8-d047e060f327>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BrainDrain_df['1990'] = BrainDrain_living_df['1990'] - BrainDrain_living_df['1985']
<ipython-input-8-d047e060f327>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BrainDrain_df['1995'] = BrainDrain_living_df['1995'] - BrainDrain_living_df['1990']
<ipython-input-8-d047e060f327>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BrainDrain_df['2000'] = BrainDrain_living_df['2000'] - BrainDrain_living_df['1995']
<ipython-input-8-d047e060f327>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BrainDrain_df['2005'] = BrainDrain_living_df['2005'] - BrainDrain_living_df['2000']
<ipython-input-8-d047e060f327>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BrainDrain_df['2010'] = BrainDrain_living_df['2010'] - BrainDrain_living_df['2005']

In [9]:
BrainDrain_df[BrainDrain_df['country_to']=='Luxembourg']

       country_from  country_to   1985   1990    1995    2000   2005   2010
842         Belgium  Luxembourg  116.0   99.0 -1501.0  3986.0  564.0  658.0
843         Denmark  Luxembourg  124.0  163.0  -344.0   476.0   65.0   74.0
844          France  Luxembourg -118.0 -208.0   160.0  2321.0  493.0  573.0
845         Germany  Luxembourg -108.0 -196.0   150.0   781.0  282.0  329.0
846           Italy  Luxembourg  195.0  251.0  1478.0 -1318.0  111.0  130.0
847     Netherlands  Luxembourg   14.0    6.0  -228.0   472.0   91.0  106.0
848        Portugal  Luxembourg  -77.0 -115.0  5815.0 -5506.0   72.0   84.0
849           Spain  Luxembourg  150.0  197.0  -132.0   325.0   68.0   78.0
850  United Kingdom  Luxembourg  196.0  250.0  -735.0  1034.0  129.0  151.0
851   United States  Luxembourg  113.0  147.0  -349.0   366.0   46.0   53.0

In [10]:
BrainDrain_df['1990'][1]

15.0

In [11]:
for i in ['1985','1990','1995','2000','2005','2010']:
    for j in range(len(BrainDrain_df)):
        if BrainDrain_df[i][j]<0:
            BrainDrain_df[i][j]=0

<ipython-input-11-98ff5d9cfd3b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BrainDrain_df[i][j]=0
/Users/aliyadavletshina/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3343: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
BrainDrain_df

,country_from,country_to,1985,1990,1995,2000,2005,2010
0,Afghanistan,Australia,0.0,1124.0,1115.0,1615.0,699.0,780.0
1,Albania,Australia,0.0,15.0,48.0,229.0,83.0,92.0
2,Algeria,Australia,0.0,327.0,73.0,151.0,94.0,104.0
3,Argentina,Australia,715.0,1164.0,716.0,534.0,1020.0,1133.0
4,Armenia,Australia,0.0,221.0,35.0,56.0,83.0,93.0
...,...,...,...,...,...,...,...,...
1260,Venezuela,United States,6528.0,5187.0,9655.0,16577.0,32577.0,16567.0
1261,Vietnam,United States,50287.0,54494.0,42373.0,80291.0,125359.0,60170.0
1262,Yemen,United States,325.0,224.0,647.0,1138.0,1724.0,1045.0
1263,Zambia,United States,476.0,472.0,0.0,191.0,422.0,192.0
1264,Zimbabwe,United States,859.0,561.0,902.0,1657.0,4003.0,1333.0

In [13]:
BrainDrain_df[BrainDrain_df['country_to']=='Greece']

,country_from,country_to,1985,1990,1995,2000,2005,2010
775,Albania,Greece,254.0,0.0,10350.0,10364.0,21461.0,8645.0
776,Armenia,Greece,80.0,0.0,327.0,1495.0,1407.0,699.0
777,Australia,Greece,174.0,0.0,451.0,3457.0,4345.0,1824.0
778,Austria,Greece,124.0,0.0,0.0,643.0,754.0,322.0
779,Belgium,Greece,229.0,0.0,0.0,665.0,937.0,385.0
780,Brazil,Greece,13.0,0.0,53.0,312.0,408.0,173.0
781,Bulgaria,Greece,145.0,0.0,1125.0,2235.0,3813.0,1632.0
782,Canada,Greece,173.0,0.0,57.0,3008.0,3444.0,1441.0
783,"Congo, Dem. Rep. of the",Greece,0.0,0.0,26.0,394.0,438.0,179.0
784,Cyprus,Greece,2866.0,0.0,0.0,5818.0,6755.0,2761.0
785,Czech Republic,Greece,114.0,0.0,86.0,1772.0,209.0,435.0
786,Egypt,Greece,1647.0,0.0,0.0,6929.0,8538.0,3403.0
787,Ethiopia,Greece,59.0,4.0,79.0,338.0,495.0,202.0
788,France,Greece,452.0,0.0,0.0,1962.0,2232.0,946.0
789,Georgia,Greece,865.0,0.0,3575.0,10091.0,8239.0,4788.0
790,Germany,Greece,2891.0,0.0,0.0,16065.0,19311.0,8076.0
791,Iraq,Greece,33.0,0.0,184.0,181.0,412.0,169.0
792,Italy,Greece,383.0,0.0,0.0,1702.0,1983.0,836.0
793,Jordan,Greece,157.0,0.0,0.0,356.0,348.0,132.0
794,Kazakhstan,Greece,266.0,0.0,1089.0,2193.0,1647.0,1088.0
795,Lebanon,Greece,346.0,0.0,0.0,499.0,622.0,245.0
796,Moldova,Greece,31.0,0.0,133.0,1177.0,1132.0,559.0
797,Netherlands,Greece,82.0,0.0,0.0,711.0,811.0,348.0
798,Nigeria,Greece,25.0,0.0,6.0,317.0,347.0,135.0
799,Pakistan,Greece,7.0,0.0,516.0,0.0,286.0,107.0
800,Philippines,Greece,92.0,0.0,158.0,758.0,1118.0,489.0
801,Poland,Greece,189.0,0.0,296.0,1414.0,2066.0,879.0
802,Romania,Greece,122.0,0.0,286.0,2519.0,3142.0,1327.0
803,South Africa,Greece,119.0,0.0,0.0,1401.0,1544.0,645.0
804,Spain,Greece,33.0,0.0,11.0,300.0,373.0,162.0
805,Sudan,Greece,89.0,0.0,3.0,497.0,613.0,248.0
806,Sweden,Greece,103.0,0.0,0.0,925.0,1042.0,439.0
807,Switzerland,Greece,90.0,0.0,0.0,593.0,677.0,287.0
808,Syria,Greece,140.0,0.0,124.0,492.0,751.0,287.0
809,Turkey,Greece,3969.0,0.0,11279.0,0.0,6716.0,2695.0
810,Ukraine,Greece,113.0,0.0,491.0,3485.0,3125.0,1633.0
811,United Kingdom,Greece,734.0,0.0,0.0,3987.0,4545.0,1916.0
812,United States,Greece,1403.0,0.0,26.0,4033.0,5865.0,2472.0
813,Uzbekistan,Greece,25.0,0.0,104.0,1343.0,1324.0,593.0

In [14]:
BrainDrain__sum_df = BrainDrain_df.groupby('country_to').sum()

In [15]:
BrainDrain__sum_df['total'] = BrainDrain__sum_df.sum(axis=1)

In [16]:
BrainDrain__sum_df ['probability'] = BrainDrain__sum_df['total']/sum(BrainDrain__sum_df['total'])

In [17]:
BrainDrain__sum_df

,1985,1990,1995,2000,2005,2010,total,probability
country_to,,,,,,,,
Australia,195239.0,314210.0,235695.0,268554.0,300085.0,333449.0,1647232.0,0.071697
Austria,3677.0,26282.0,24764.0,23404.0,58325.0,2425.0,138877.0,0.006045
Canada,119440.0,384988.0,415132.0,415620.0,816047.0,1246427.0,3397654.0,0.147885
Chile,4412.0,39782.0,45538.0,71442.0,67825.0,123465.0,352464.0,0.015341
Denmark,2895.0,7033.0,11852.0,19620.0,11375.0,9482.0,62257.0,0.002710
Finland,237.0,718.0,5618.0,5772.0,6336.0,9573.0,28254.0,0.001230
France,60836.0,105866.0,110572.0,162740.0,120725.0,333632.0,894371.0,0.038928
Germany,23414.0,60340.0,372388.0,78881.0,174576.0,244902.0,954501.0,0.041545
Greece,18637.0,4.0,30835.0,94431.0,123275.0,53602.0,320784.0,0.013962
Ireland,9155.0,6640.0,19181.0,41190.0,44220.0,96241.0,216627.0,0.009429
Luxembourg,908.0,1113.0,7603.0,9761.0,1921.0,2236.0,23542.0,0.001025
Netherlands,32091.0,60204.0,44935.0,82328.0,95781.0,53853.0,369192.0,0.016069
New Zealand,56410.0,35015.0,10924.0,25864.0,147099.0,57406.0,332718.0,0.014482
Norway,6016.0,11037.0,12314.0,18146.0,26856.0,54250.0,128619.0,0.005598
Portugal,19311.0,1732.0,23909.0,40830.0,36883.0,28149.0,150814.0,0.006564
Sweden,105850.0,33515.0,44970.0,41553.0,60720.0,106105.0,392713.0,0.017093
Switzerland,21361.0,38843.0,34979.0,49534.0,5598.0,19224.0,169539.0,0.007379
United Kingdom,97741.0,107392.0,351018.0,556273.0,455582.0,774424.0,2342430.0,0.101956
United States,1756014.0,1135403.0,815332.0,1761816.0,3797231.0,1786532.0,11052328.0,0.481061

In [31]:
# as an anternative approach - getting probability for each year and then taking the average  

BrainDrain__probs_df = pd.DataFrame({'country_to': BrainDrain__sum_df.index, '1985': np.zeros(len(BrainDrain__sum_df))})
BrainDrain__probs_df['1985'] = (BrainDrain__sum_df['1985'] / sum(BrainDrain__sum_df['1985'])).values
BrainDrain__probs_df['1985'] = (BrainDrain__sum_df['1985'] / sum(BrainDrain__sum_df['1985'])).values
BrainDrain__probs_df['1990'] = (BrainDrain__sum_df['1990'] / sum(BrainDrain__sum_df['1990'])).values
BrainDrain__probs_df['1995'] = (BrainDrain__sum_df['1995'] / sum(BrainDrain__sum_df['1995'])).values
BrainDrain__probs_df['2000'] = (BrainDrain__sum_df['2000'] / sum(BrainDrain__sum_df['2000'])).values
BrainDrain__probs_df['2005'] = (BrainDrain__sum_df['2005'] / sum(BrainDrain__sum_df['2005'])).values
BrainDrain__probs_df['2010'] = (BrainDrain__sum_df['2010'] / sum(BrainDrain__sum_df['2010'])).values
BrainDrain__probs_df['total'] = BrainDrain__probs_df.mean(axis=1)
BrainDrain__probs_df

,country_to,1985,1990,1995,2000,2005,2010,total
0,Australia,0.077059,0.132572,0.090044,0.071277,0.047254,0.062498,0.080117
1,Austria,0.001451,0.011089,0.009461,0.006212,0.009184,0.000455,0.006309
2,Canada,0.047142,0.162434,0.158595,0.110310,0.128502,0.233616,0.140100
3,Chile,0.001741,0.016785,0.017397,0.018961,0.010680,0.023141,0.014784
4,Denmark,0.001143,0.002967,0.004528,0.005207,0.001791,0.001777,0.002902
5,Finland,0.000094,0.000303,0.002146,0.001532,0.000998,0.001794,0.001144
6,France,0.024011,0.044667,0.042242,0.043193,0.019010,0.062532,0.039276
7,Germany,0.009241,0.025459,0.142265,0.020936,0.027490,0.045902,0.045215
8,Greece,0.007356,0.000002,0.011780,0.025063,0.019412,0.010047,0.012276
9,Ireland,0.003613,0.002802,0.007328,0.010932,0.006963,0.018038,0.008279
10,Luxembourg,0.000358,0.000470,0.002905,0.002591,0.000302,0.000419,0.001174
11,Netherlands,0.012666,0.025401,0.017167,0.021851,0.015083,0.010094,0.017043
12,New Zealand,0.022264,0.014774,0.004173,0.006865,0.023164,0.010760,0.013666
13,Norway,0.002374,0.004657,0.004704,0.004816,0.004229,0.010168,0.005158
14,Portugal,0.007622,0.000731,0.009134,0.010837,0.005808,0.005276,0.006568
15,Sweden,0.041778,0.014141,0.017180,0.011029,0.009562,0.019887,0.018929
16,Switzerland,0.008431,0.016389,0.013363,0.013147,0.000882,0.003603,0.009302
17,United Kingdom,0.038577,0.045311,0.134101,0.147640,0.071740,0.145149,0.097086
18,United States,0.693078,0.479049,0.311486,0.467603,0.597946,0.334846,0.480668

In [74]:
BrainDrain__sum_df.to_csv('Country_probabilities.csv')

# Finding Betas

In [36]:
# Regression_data_df = pd.read_excel('../data/Country_probabilities.xlsx',usecols=['country_to','probability','GDP per capita',
#                                                                         'Gov Expend Education','Life Expectency','Education'])

Regression_data_df = pd.read_csv('../data/Country_probabilities.csv')
Regression_data_df

,country_to,1985,1990,1995,2000,2005,2010,total,probability
0,Australia,195239.0,314210.0,235695.0,268554.0,300085.0,333449.0,1647232.0,0.071697
1,Austria,3677.0,26282.0,24764.0,23404.0,58325.0,2425.0,138877.0,0.006045
2,Canada,119440.0,384988.0,415132.0,415620.0,816047.0,1246427.0,3397654.0,0.147885
3,Chile,4412.0,39782.0,45538.0,71442.0,67825.0,123465.0,352464.0,0.015341
4,Denmark,2895.0,7033.0,11852.0,19620.0,11375.0,9482.0,62257.0,0.002710
5,Finland,237.0,718.0,5618.0,5772.0,6336.0,9573.0,28254.0,0.001230
6,France,60836.0,105866.0,110572.0,162740.0,120725.0,333632.0,894371.0,0.038928
7,Germany,23414.0,60340.0,372388.0,78881.0,174576.0,244902.0,954501.0,0.041545
8,Greece,18637.0,4.0,30835.0,94431.0,123275.0,53602.0,320784.0,0.013962
9,Ireland,9155.0,6640.0,19181.0,41190.0,44220.0,96241.0,216627.0,0.009429
10,Luxembourg,908.0,1113.0,7603.0,9761.0,1921.0,2236.0,23542.0,0.001025
11,Netherlands,32091.0,60204.0,44935.0,82328.0,95781.0,53853.0,369192.0,0.016069
12,New Zealand,56410.0,35015.0,10924.0,25864.0,147099.0,57406.0,332718.0,0.014482
13,Norway,6016.0,11037.0,12314.0,18146.0,26856.0,54250.0,128619.0,0.005598
14,Portugal,19311.0,1732.0,23909.0,40830.0,36883.0,28149.0,150814.0,0.006564
15,Sweden,105850.0,33515.0,44970.0,41553.0,60720.0,106105.0,392713.0,0.017093
16,Switzerland,21361.0,38843.0,34979.0,49534.0,5598.0,19224.0,169539.0,0.007379
17,United Kingdom,97741.0,107392.0,351018.0,556273.0,455582.0,774424.0,2342430.0,0.101956
18,United States,1756014.0,1135403.0,815332.0,1761816.0,3797231.0,1786532.0,11052328.0,0.481061

In [80]:
Regression_data_df

,country_to,probability,GDP per capita,Gov Expend Education,Life Expectency,Education
0,Australia,0.071697,22404.555431,13.705685,78.126892,0.890143
1,Austria,0.006045,25772.203325,10.856180,76.711880,0.737476
2,Canada,0.147885,24102.835096,13.260528,78.207474,0.824381
3,Chile,0.015341,4814.913566,16.103320,74.686194,0.677238
4,Denmark,0.002710,31924.575377,14.100664,75.974524,0.813143
5,Finland,0.001230,26160.778737,11.964859,76.516027,0.801381
6,France,0.038928,23937.132265,10.285706,77.800079,0.735286
7,Germany,0.041545,24903.155388,9.606595,76.498740,0.822810
8,Greece,0.013962,13627.343694,7.185135,77.323459,0.692190
9,Ireland,0.009429,24767.871497,12.128671,76.083478,0.789048
10,Luxembourg,0.001025,49007.315866,8.995115,76.376480,0.700333
11,Netherlands,0.016069,27301.941245,10.967681,77.722305,0.820476
12,New Zealand,0.014482,16623.629360,13.997931,76.905193,0.863905
13,Norway,0.005598,39512.869180,15.232263,77.928851,0.862810
14,Portugal,0.006564,11195.411909,10.847349,75.267978,0.650190
15,Sweden,0.017093,30427.125298,11.566375,78.658891,0.830762
16,Switzerland,0.007379,40189.642089,15.770315,78.781361,0.784905
17,United Kingdom,0.101956,24587.277741,11.967528,76.873997,0.811238
18,United States,0.481061,30178.323694,NaN,76.009048,0.862810

In [84]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = Regression_data_df.drop(['country_to','probability'],axis=1)
X = scaler.fit_transform(X)
X

array([[-0.34413709,  0.66765567,  1.05094964,  1.50523217],
       [-0.00924839, -0.54840487, -0.23581997, -0.7428361 ],
       [-0.17525522,  0.47767927,  1.12422871,  0.53686589],
       [-2.09330224,  1.69087491, -2.0779193 , -1.62986241],
       [ 0.60256139,  0.83621729, -0.90634994,  0.37138114],
       [ 0.02939268, -0.07526259, -0.41392346,  0.19818312],
       [-0.19173319, -0.79186134,  0.75375514, -0.7750916 ],
       [-0.09566904, -1.08167998, -0.42964319,  0.51372608],
       [-1.21696856, -2.11506681,  0.32033183, -1.40968355],
       [-0.10912207, -0.00535397, -0.8072708 ,  0.01657062],
       [ 2.30131879, -1.3426362 , -0.54082318, -1.28977722],
       [ 0.1428732 , -0.50082045,  0.68303032,  0.47936696],
       [-0.91900919,  0.79237496, -0.06002747,  1.11886735],
       [ 1.35716339,  1.31914078,  0.87085713,  1.1027396 ],
       [-1.45880693, -0.55217357, -1.54886187, -2.02814774],
       [ 0.45365059, -0.24532043,  1.53473317,  0.63082757],
       [ 1.42446366,  1.54876107,  1.64610419, -0.04443435],
       [-0.12708083, -0.07412375, -0.0883961 ,  0.34333288],
       [ 0.42890904,         nan, -0.87495485,  1.1027396 ]])